DATABASE_URL="file:./prisma/dev.db"
# Configurações do Google AI (Gemini)
# Use gemini-1.5-flash-latest no backend
GEMINI_API_KEY=sua_chave_aqui

# Configurações do Google Cloud (Gmail API)
# Necessário para o frontend conectar ao Gmail
NEXT_PUBLIC_GOOGLE_CLIENT_ID=seu_client_id_aqui

# Se quiser persistir a chave no frontend também (opcional, já que agora usamos a rota interna)
NEXT_PUBLIC_GEMINI_API_KEY=sua_chave_aqui

# Configurações do Prisma (Opcional, se quiser fixar o diretório de cache no env)
# PRISMA_ENGINES_CACHE_DIR=./.prisma-cache
